.input {
  width: 300px;
  display: block;
  float: center;
  padding: 8px 20px;
  margin: 10px auto;
}

.labels {
  font-family: Sans-serif;
  display: block;
  float: center;
  clear: left;
  width: 345px;
  text-align: left;
  margin: 10px auto;
}

.body {
  border: 2px solid black;
  width: 700px;
  margin: auto;
  background: white;
  padding: 10px;
  margin-top: 15px;
}

.header {
  text-align: center;
  font-family: Sans-serif;
  border: none;
  background: #5495ff;
  padding: 5px;
  margin: 10px auto;
}

.button {
  background-color: #5495ff;
  border: none;
  color: white;
  text-align: center;
  padding: 8px 30px;
  display: block;
  margin: 20px auto;
  margin-bottom: 10px;
  width: 500px;
}

.field {
  font-family: Sans-serif;
  padding: 5px 20px;
  margin-bottom: 10px;
}
