body{
  background-image: url("nayempic99.png");
  background-size: 100% 750px
  font-family: arial;


}
.regform{
  text-align: center;
  top: 50%;
  left:50%;
  background-color: white;
  margin-left: 25%;
  margin-right:25%;
  margin-top:5%;
  margin-bottom:25%;
}
.main_frame{
  border:500px;
}
.button{
  padding: 10px;
  border-radius:5px;

}
.userinput{
  padding:12px;
  border-radius:5px;
}
.place{
  padding:12px;
  border-radius:5px;
}
.num{
  padding:10px;
  border-radius:5px;
}
